.search_button{
    margin-left: 10px;

}
.search_input{
    width: 150px;
    margin-left: 10px;
}

.search {
    margin-top: 19px;
    margin-left: 419px;
    padding-top: 12px;
    position: relative;
    top: 1px;
    left: 54px;
}

.pending {
    background-color: yellow;
    border-radius: 5px;
}

.processing {
    background-color: orange;
    border-radius: 5px;
}

.approved {
    background-color: green;
    border-radius: 5px;
}

.rejected {
    background-color: red;
    border-radius: 5px;
}